footer
  nav
    aside.footer-text2
      p イタリアンカフェ〇〇〇
      p
        | 東京都町田市○○○田
        span.font2f 4-4-15
      p
        | TEL 
        span.font2f 072-012-2201
      .footer-text
        p 営業時間
        div
          p
            | open 
            span.font2f 11:00
          p
            | close 
            span.font2f 23:00
    aside.footer-icon
      p
        img(src='/src/asset/img/アイコン白.png')
  p.copy-right
    | ©
    span.font2f 2017
    | italian all rights reserved.
.footer-back