header
  aside.menu-head
    p.menu-top
      img(src='/src/img/Altamura-Puglia.jpg')
    .menu-titile
      p
        img(src='/src/img/アイコン.png')
      h1
        span.menu-line1
        | MENU
        span.menu-line2
    .MENU-back