doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='/public/css/style.css')
    title Document
  body
    include components/_header.pug
    
    include components/_main.pug

    include components/_footer.pug

    script(src='/src/js/_test.js')