<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/dest/css/style.css">
  <title>EJS</title>
</head>
<body>
  <%- include('./components/_header.ejs',{header:data.header}) %>

  <main>
    <h2>タイトル</h2>
    <p>テfddト</p>
    <img src="/src/img/data-uri-img.jpg">

  <%- include('./components/_main.ejs') %>

  </main>
  
  <%- include('./components/_footer.ejs') %>
  <script src="/src/js/_scroll.js"></script>
</body>
</html>